---
import { dataCarousel } from "../data/dataCarousel";
---

<div id="default-carousel" class="relative w-full" data-carousel="slide">
  <div class="relative h-56 overflow-hidden rounded-lg md:h-96 z-0">
    {
      dataCarousel.map((item) => (
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src={item.imageUrl} class="absolute block rounded-xl lg:w-[400px] w-[230px] -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt={item.alt} />
        </div>
      ))
    }
  </div>
</div>
