---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Tugas Digital Bisnis">
  <div class="flex flex-col justify-center items-center lg:px-[500px] px-[50px] h-screen">
    <h1 class="text-center dark:text-white text-2xl">Tugas Digital Bisnis</h1>
    <div class="flex flex-col bg-white mt-10 border shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
      <img
        class="w-52 mx-auto h-auto rounded-xl mt-5"
        src="https://scontent.fjog3-1.fna.fbcdn.net/v/t39.30808-6/430977706_1987487408348980_3894309208797817253_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeG86ngWp2B9iUHTlLKkk10cXOA8-gkITAVc4Dz6CQhMBcLlx1tWF5iMyTdqDiDI8Q5M3goUdbu0rpzfRuTTnWG-&_nc_ohc=1WXQE4Tp-v8Q7kNvgFKm4bc&_nc_ht=scontent.fjog3-1.fna&oh=00_AfAja-ylRznMftfON0NxVj7N1tfBAuIRzTFxXL0rDRmVKQ&oe=663C1373"
        fetchpriority="low"
        alt="Image Description"
      />
      <div class="p-4 md:p-5">
        <h3 class="text-lg font-bold text-gray-800 dark:text-white">Nama: Muhammad Irvan Shandika</h3>
        <p class="mt-1 text-gray-500 dark:text-neutral-400">NIM: 21.11.4285</p>
        <p class="mt-1 text-gray-500 dark:text-neutral-400">Kelas: 21IF07</p>
        <p class="mt-5 text-xs text-gray-500 dark:text-neutral-500">Last updated 5 mins ago</p>
      </div>
    </div>
  </div>
</Layout>
