---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Toko Kecantikan Dengan Harga Yang Bersahabat Di Kantong Mahasiswa" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#000000" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/logo.jpg" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Google+Sans&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" />
  </head>
  <body class="dark:bg-gray-950 font-google">
    <slot />
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P6XZMN2B" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script src="../index.js"></script>
    <script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/@loglib/tracker@latest/dist/index.global.js" data-id="www_maybeautyskin_my"></script>
  </body>
</html>
<script>
  if (localStorage.getItem("color-theme") === "dark" || (!("color-theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.remove("dark");
  }
</script>
